<div class="bot-navbar">
    <div class="container">
        <!-- Remember that SAO app ? like click profile and it goes zwum to the side. ye that -->
        <div class="box">
            <a href="profile">
                <mat-icon fontIcon="person"></mat-icon>
            </a>
        </div>
        <div class="box">
            <a href="xp">
                <mat-icon fontIcon="business_center"></mat-icon>
            </a>
        </div>
        <div class="box">
            <a href="edu">
                <mat-icon fontIcon="school"></mat-icon>
            </a>
        </div>
    </div>
</div>